body{
    background-color: rgb(243, 243, 250);
}


h1{
    color: rgb(255, 255, 255);
}

.main{
    background-color: rgb(14, 14, 23);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    color:rgb(255, 255, 255);
}

.button-div{ 
display: flex;
gap: 20px;
margin-bottom: 50px;
}

.butt{
    background: linear-gradient(rgb(68, 124, 68), rgb(11, 207, 11));
    padding: 10px 10px;
    border-radius: 1.0rem;
    font-size: 1.0rem;
    color: white;
}

.butt:hover{
    background-color: rgb(50, 36, 36);
}

