.props-div{
 display: block;
 flex-direction: column;
 justify-content:space-around; 

}
 
.item-div{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 10px;


}
#color{
    font-size: 1.5rem;
    font-weight:bold;
    font-style: italic;
}
